<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_home.css') }}">
</head>
<body>
    <div class="diagram">
        <div class="backdrop">
            <div class="sky">
                <h1>Welcome Home</h1>
            </div>
            <div class="grass"></div>
            <div class="ground"></div>
            <div class="bedrock"></div>
        </div>
        <div class="house">
             <div class="floor-two">
            </div>
            <div class="floor-one">
            </div>
            <div class="floor-basement">
            </div>
        </div>
    </div>
</body>
</html>