<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
</head>
<body>
    <br>
    <br>
    <h1>Resume (HTML only)</h1>
    <h4><em>Welcome to the no frills zone</em></h4>
    <hr>
    <br>
    <h3>Summary</h3>
    <blockquote>Mechanical Engineer & weekend developer interested in professional development</blockquote>
    <br>

    <div>
        <h3>Mechanical Engineering Highlights <a href="https://www.feuerprojects.com">(details here)</a></h3>
        <ul>
            <li>1 year developing robots at Boston Dynamics</li>
            <li>1 year developing an electric scooter for rideshare at
                Superpedestrian (an archetypical startup) </li>
            <li>5 years developing golf clubs at TaylorMade Golf</li>
            <li>2 years developing tools at Milwaukee Tool</li>
            <li><p>Typical work: project scope definition, establishing requirements,</p>
                <p>soliciting cross-functional stakeholder input, brainstorming, design, simulation,</p>
                <p>testing, data processing and analysis, troubleshooting and root cause</p>
                <p>analysis, documentation, manufacturing support</li></p>
            <br>
        </ul>
        <blockquote>
            <h4>Why leave the hardware world?</h4>
            <p>My experience begs the question.</p>
            <p>I've had a very rewarding career as a Mechanical Engineer. Over that time, </p>
            <p>I feel that I've gained a rich perspective of the physical world. But,</p>
            <p>as a being of the digital age, I've started to delve into the world of</p>
            <p>development. The deeper I've searched, the more fascinated I've become,</p>
            <p> and I'm ready to leave the comfort of a partially-fulfilled career to </p>
            <p>pursue that fascination into a professional role.</p>
        </blockquote>
        <br>
    </div>
    <div>
        <h3>Software Experience</h3>
        <ul><strong>Skills and knowledge</strong>
            <li>OOP</li>
            <li>Web development</li>
            <li>APIs</li>
            <li>GUIs</li>
            <li>Alerts and communications (e.g. sending emails and text messages)</li>
            <li>Data processing and analysis (e.g. arrays, databases, plots, regressions)</li>
            <li>Web scraping and automation</li>
            <li>Frameworks</li>
            <li>Version control</li>
        </ul>
        <ul><strong>Practices</strong>
            <li>Engineering-grounded development process</li>
            <li>Programming for robustness, conciseness, and readability</li>
            <li>Agile development</li>
            <li>Earnest documentation</li>
        </ul>
        <ul><strong>Tools</strong>
            <li>IDEs: Pycharm, Eclipse</li>
            <li>Scraping and automation: Beautiful Soup, Selenium</li>
            <li>Frameworks: flask, bootstrap</li>
            <li>Gaming and simulation: Unity, RPG Maker XP</li>
            <li>Data: pandas, plotly, matplotlib, numpy, scipy, seaborn, scikit-learn</li>
            <li>Servers: Heroku, Gunicorn</li>
        </ul>
        <blockquote><p><strong>Languages:</strong> Python, Java, HTML, CSS, gcode</p></blockquote>
        <ul><strong>Courses and Books</strong>
            <li>100 Days of Code: The Complete Python Pro Bootcamp for 2023</li>
            <li>University of Wisconsin-Madison CS200: Programming I</li>
            <li>Design Patterns: Elements of Reusable Object-Oriented Software</li>
            <li>Code Complete</li>
        </ul>
    </div>

    <br>

    <div>
        <h3>Transferrable Skills</h3>
        <ul><strong>Development</strong>
            <li>Defining project scope, requirements, and specifications</li>
            <li>Concept ideation, selection, and prototyping</li>
            <li>Design and development (iteratively)</li>
            <li>Facilitating design reviews</li>
            <li>Testing</li>
            <li>Production launch and support</li>
        </ul>
        <ul><strong>Engineering</strong>
            <li>Design for reliability, robustness</li>
            <li>Troubleshooting and root cause analysis</li>
            <li>Data collection and analysis</li>
            <li>Applied math</li>
            <li>Version control</li>
            <li>Testing: unit, integration, end-to-end, test design</li>
            <li>Documentation</li>
            <li>Schematics, flow charts, and mockups</li>
        </ul>
        <ul><strong>General</strong>
            <li>Problem solving</li>
            <li>Communication</li>
            <li>Cross-functional teamwork</li>
            <li>Project management</li>
            <li>Multitasking</li>
            <li>Creativity</li>
            <li>Presentation</li>
            <li>Facilitation and leadership</li>
        </ul>
    </div>

    <br>

    <h3>Personal Trivia</h3>
    <ul>
        <li>Freediver and lobster captor</li>
        <li>House renovator</li>
        <li>Distance runner and bike enthusiast</li>
    </ul>

    <br>
    <hr>

    <p>Copyright ...well, take what you want.</p>
</body>
</html>